<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="dropzone" style="border:2px dashed #888; padding:20px;">
        Hier Dateien oder Ordner reinziehen
    </div>


    <button type="button" id="pick">Dateien auswählen…</button>
    <input id="fileInput" type="file" name="files" multiple accept="image/*" hidden>

    <button type="button" id="pickFolder">Ordner auswählen…</button>
    <input id="folderInput" type="file" name="files" webkitdirectory multiple hidden>

    <ul id="documentHistory"></ul>
    <button id="viewSettings">Settings</button>

    <p id="progress"></p>

    <a href="/logout" class="btn">Logout</a>


    <dialog id="popupPreview">
        <input id="title" type="text" placeholder="Name of this document." />
        <div id="preview"></div>
        <button id="closePopupPreview">Close</button>
    </dialog>

    <dialog id="confirmDelete">
        <p>Do you really want to delete this document? This action cannot be undone.</p>

        <button id="confirmDeleteBtn">Delete</button>

        <button id="abortConfirmDeleteBtn">Abort</button>
    </dialog>

    <dialog id="settings">
        <input id="password" type="text" placeholder="Change your password" />
        <input id="confirmPassword" type="text" placeholder="Confirm your password" />
        <div id="passwordMessage" style="color: #c00;"></div>
        <select id="preferedFile"></select>
        <button id="saveSettings">Save</button>
        <button id="closeSettings">Close</button>
    </dialog>



    <script type="module" src="../static/dashboard_script.js"></script>
    <script type="module" src="../static/settings.js"></script>
    <script type="module" src="../static/sockets.js"></script>
    <script type="module" src="../static/upload.js"></script>


    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>

</body>

</html>